// reset css
html,
* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    outline: none;
    background: transparent;
    box-sizing: border-box;
    background: rgb(100, 100, 100);
    color: rgb(230, 230, 230);
}

// mixin
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// variables
$width_app: 750px;
$height_app: 400px;
$border_color: #bebebe;