@import "../Abstract.scss";
.Option {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid gray;
    color: gray;
    font-size: 0.8rem;
    line-height: 1rem;
}
