@import "../Abstract.scss";
.Search {
    width: 40%;
    border-radius: 5px;
    padding: 0.25rem;
    border: 1px solid gray;
    @include flex(row, space-between, center);
    input {
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 0 0.5rem;
        width: 100%;
    }
    button {
        width: 2rem;
        height: 2rem;
        // padding: 0.25rem;
        font-size: 2rem;
        @include flex(row, center, center);
    }
}
