@import "../Abstract.scss";
.Weather {
    width: $width_app;
    padding: 0.5rem;
    border-radius: 0.5rem;
    $color1: white;
    $color2: black;
    box-shadow: inset -5px -5px 3px rgba($color: $color1, $alpha: 0.15),
        inset 5px 5px 3px rgba($color: $color2, $alpha: 0.4),
        5px 5px 2px rgba($color: $color2, $alpha: 0.4),
        -5px -5px 3px rgba($color: $color1, $alpha: 0.15);
    @include flex(column, space-between, center);
}
